@import url('https://fonts.googleapis.com/css2?family=Teko:wght@500&display=swap');

#title{
    text-align: center;
}

body{
    font-family: 'Teko', sans-serif;
}

.delete{
    float: right;
}

#workoutCont{
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 20px;
}

.workoutCont{
    display: flex;
    flex-direction: row;
    justify-content: center;
    column-gap: 25px;
}

#bigDiv{
    display: flex;
    flex-direction: row;
}

#leftDiv{
    width: 30%;
}